<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT dateFolder ANY>
<!ATTLIST dateFolder id ID #REQUIRED>
<!ELEMENT monthFolder ANY>
<!ATTLIST monthFolder id ID #REQUIRED>
<!ELEMENT yearFolder ANY>
<!ATTLIST yearFolder id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT landingPage ANY>
<!ATTLIST landingPage id ID #REQUIRED>
<!ELEMENT movieFolder ANY>
<!ATTLIST movieFolder id ID #REQUIRED>
<!ELEMENT movie ANY>
<!ATTLIST movie id ID #REQUIRED>
]>
<root id="-1">
  <home id="1062" key="3a1a80fc-7b51-4e4f-8a2e-a42ee68fad1c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-12-14T15:59:53" updateDate="2017-12-14T15:59:53" nodeName="Home" urlName="home" path="-1,1062" isDoc="" nodeType="1053" creatorName="Khoa" writerName="Khoa" writerID="0" template="0" nodeTypeAlias="home" isPublished="true">
    <landingPage id="1063" key="7ae750c3-86db-4fdf-84d3-d3343fee9fe0" parentID="1062" level="2" creatorID="0" sortOrder="0" createDate="2017-12-14T16:01:36" updateDate="2017-12-14T16:01:36" nodeName="Hunter Movie" urlName="hunter-movie" path="-1,1062,1063" isDoc="" nodeType="1059" creatorName="Khoa" writerName="Khoa" writerID="0" template="1061" nodeTypeAlias="landingPage" isPublished="true">
      <showMenuNavigation>0</showMenuNavigation>
      <requireLogin>0</requireLogin>
      <landingPage id="1064" key="6df904fe-f587-4a0c-9b7e-849d7e20b252" parentID="1063" level="3" creatorID="0" sortOrder="0" createDate="2017-12-14T16:04:46" updateDate="2017-12-14T16:05:37" nodeName="Home" urlName="home" path="-1,1062,1063,1064" isDoc="" nodeType="1059" creatorName="Khoa" writerName="Khoa" writerID="0" template="1061" nodeTypeAlias="landingPage" isPublished="true">
        <showMenuNavigation>1</showMenuNavigation>
        <navigationTitle><![CDATA[Home]]></navigationTitle>
        <requireLogin>0</requireLogin>
      </landingPage>
    </landingPage>
    <movieFolder id="1076" key="ab81e8f9-304c-4e41-bff5-461e4385d753" parentID="1062" level="2" creatorID="0" sortOrder="1" createDate="2017-12-14T16:53:30" updateDate="2017-12-14T16:53:30" nodeName="Movies" urlName="movies" path="-1,1062,1076" isDoc="" nodeType="1070" creatorName="Khoa" writerName="Khoa" writerID="0" template="0" nodeTypeAlias="movieFolder" isPublished="true">
      <yearFolder id="1087" key="35649652-3def-4941-ba2e-586bcbcf9d69" parentID="1076" level="3" creatorID="0" sortOrder="1" createDate="2017-12-14T17:09:50" updateDate="2017-12-14T17:09:50" nodeName="2017" urlName="2017" path="-1,1062,1076,1087" isDoc="" nodeType="1084" creatorName="Khoa" writerName="Khoa" writerID="0" template="1080" nodeTypeAlias="yearFolder" isPublished="true">
        <monthFolder id="1090" key="0c023654-165c-4544-ab38-c76a2e3e4add" parentID="1087" level="4" creatorID="0" sortOrder="0" createDate="2017-12-14T17:12:20" updateDate="2017-12-14T17:12:20" nodeName="12" urlName="12" path="-1,1062,1076,1087,1090" isDoc="" nodeType="1089" creatorName="Khoa" writerName="Khoa" writerID="0" template="1088" nodeTypeAlias="monthFolder" isPublished="true">
          <dateFolder id="1091" key="23d0faab-be66-4f3c-9a2a-2303c058f8aa" parentID="1090" level="5" creatorID="0" sortOrder="0" createDate="2017-12-14T17:12:27" updateDate="2017-12-14T17:12:27" nodeName="14" urlName="14" path="-1,1062,1076,1087,1090,1091" isDoc="" nodeType="1086" creatorName="Khoa" writerName="Khoa" writerID="0" template="1085" nodeTypeAlias="dateFolder" isPublished="true">
            <movie id="1077" key="d25344ea-ecce-474c-8b7c-e6ab8a2bb145" parentID="1091" level="6" creatorID="0" sortOrder="1" createDate="2017-12-14T16:54:48" updateDate="2017-12-14T17:13:07" nodeName="Bước Đường Cùng" urlName="bước-đường-cùng" path="-1,1062,1076,1087,1090,1091,1077" isDoc="" nodeType="1074" creatorName="Khoa" writerName="Khoa" writerID="0" template="1075" nodeTypeAlias="movie" isPublished="true" />
            <movie id="1092" key="5ded0955-bd62-4859-8c01-022e188deba7" parentID="1091" level="6" creatorID="0" sortOrder="2" createDate="2017-12-14T17:14:30" updateDate="2017-12-14T17:14:30" nodeName="Naruto Shippuden" urlName="naruto-shippuden" path="-1,1062,1076,1087,1090,1091,1092" isDoc="" nodeType="1074" creatorName="Khoa" writerName="Khoa" writerID="0" template="1075" nodeTypeAlias="movie" isPublished="true" />
            <movie id="1093" key="89888849-5185-41fe-84e7-a413fa67784a" parentID="1091" level="6" creatorID="0" sortOrder="3" createDate="2017-12-14T17:14:39" updateDate="2017-12-14T17:14:39" nodeName="Hunter X Hunter" urlName="hunter-x-hunter" path="-1,1062,1076,1087,1090,1091,1093" isDoc="" nodeType="1074" creatorName="Khoa" writerName="Khoa" writerID="0" template="1075" nodeTypeAlias="movie" isPublished="true" />
            <movie id="1094" key="2fee9793-1ef8-4dce-9c68-605c10266a89" parentID="1091" level="6" creatorID="0" sortOrder="4" createDate="2017-12-14T17:15:01" updateDate="2017-12-14T17:15:01" nodeName="The Handmaid's Tale" urlName="the-handmaids-tale" path="-1,1062,1076,1087,1090,1091,1094" isDoc="" nodeType="1074" creatorName="Khoa" writerName="Khoa" writerID="0" template="1075" nodeTypeAlias="movie" isPublished="true" />
            <movie id="1095" key="940bb90d-b6df-43d6-bbe0-82e0696ad430" parentID="1091" level="6" creatorID="0" sortOrder="5" createDate="2017-12-14T17:15:58" updateDate="2017-12-14T17:15:58" nodeName="Supernatural" urlName="supernatural" path="-1,1062,1076,1087,1090,1091,1095" isDoc="" nodeType="1074" creatorName="Khoa" writerName="Khoa" writerID="0" template="1075" nodeTypeAlias="movie" isPublished="true" />
          </dateFolder>
        </monthFolder>
      </yearFolder>
    </movieFolder>
  </home>
</root>