@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<div id="main-content">
    <div id="content">
        <div class="container" id="detail-page">

            <div class="film-info" itemscope="" itemtype="http://schema.org/Product">
                <div class="image">
                    <img class="poster" itemprop="image" alt="Bước Đường Cùng" src="http://banhtv.com/uploads/2017/11/800/2-201711616.jpg" />
                    <meta itemprop="description" content="Phim Bước Đường C&ugrave;ng&nbsp;Thẩm ph&aacute;n Lee Jung Joo (Park Eun Bin) l&agrave;m việc tại T&ograve;a &aacute;n Seoul, nổi tiếng l&agrave; n&oacute;ng nảy. Kh&ocirc;ng &iacute;t lần, c&ocirc; thậm ch&iacute; c&ograve;n chửi thề với những t&ecirc;n ..." />
                    <img class="avatar" alt="Bước Đường Cùng" src="http://banhtv.com/uploads/2017/11/500/2-201711616.jpg" />
                    <a href="/xem-phim/buoc-duong-cung-nothing-to-lose-2017-6147.html" class="icon-play"></a>
                    <div class="text">
                        <h1 itemprop="name">Bước Đường Cùng</h1>
                        <h2>Nothing To Lose (2017)</h2>
                        <ul class="list-button">
                            <li>
                                <a class="btn-see btn btn-info" href="/xem-phim/buoc-duong-cung-nothing-to-lose-2017-6147.html">
                                    <i class="fa fa-play-circle-o"></i>
                                    Xem phim
                                </a>
                            </li>
                            <li>
                                <a href="/tai-phim/buoc-duong-cung-6147.html" class="btn btn-download btn-success">
                                    <i class="fa fa-cloud-download"></i>
                                    Tải phim
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
                <div class="ads-under-player">
                    <script type="text/javascript" src="//media1.admicro.vn/ads_codes/ads_box_472624.ads"></script>
                </div>		<div class="text">
                    <div class="social">
                        <div class="fb-send" data-href="http://banhtv.com/phim/buoc-duong-cung-6147.html"></div>
                        <div class="fb-like" data-href="http://banhtv.com/phim/buoc-duong-cung-6147.html" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                        <div class="box-rating" style="clear:both;" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                            <div id="star" data-score="9.7" style="cursor:pointer;float:left;"></div>
                            <div id="div_average" style="float:left; line-height:20px; margin:0 5px; ">(<span class="average" id="average" itemprop="ratingValue">9.7</span> đ/<span id="rate_count" itemprop="ratingCount">10</span> lượt)</div>
                            <meta itemprop="bestRating" content="10" />
                            <meta itemprop="worstRating" content="0" />
                            <input id="film_id" type="hidden" value="6147">
                        </div>
                    </div>
                    <ul class="entry-meta block-film">
                        <li>
                            <label>Đang phát: </label>
                            <span>Tập 14 Vietsub</span>
                        </li>
                        <li>
                            <label>Sắp chiếu:</label>
                            Tập 14 - 15 Vietsub
                        </li>
                        <li>
                            <label>Quốc gia: </label>
                            <a href="/quoc-gia/han-quoc-5.html">Hàn Quốc</a>
                        </li>
                        <li>
                            <label>Thể loại: </label>
                            <a href="/the-loai/hinh-su-chien-tranh-7.html">Hình Sự - Chiến Tranh</a>
                        </li>
                        <li>
                            <label>Đạo diễn: </label>
                            <a href="/dao-dien/lee-gwang-young-1133.html">Lee Gwang-Young</a>
                        </li>
                        <li>
                            <label>Lượt xem: </label>
                            12.181
                        </li>
                        <li>
                            <label>Diễn viên: </label>
                            <a href="/dien-vien/park-eun-bin-324.html">Park Eun Bin</a>, <a href="/dien-vien/dong-hae-618.html">Dong Hae</a>, <a href="/dien-vien/yeon-woo-jin-6831.html">Yeon Woo Jin</a>
                        </li>
                    </ul>
                    <span style="display:none" itemprop="brand">banhtv.com</span>
                    <div class="clear"></div>

                    <div class="film-content block-film">
                        <p class="heading">Nội dung phim</p>
                        <h3><strong>Bước Đường Cùng, Nothing To Lose 2017</strong></h3>

                        <p><strong>Phim Bước Đường Cùng</strong> Thẩm phán Lee Jung Joo (Park Eun Bin) làm việc tại Tòa án Seoul, nổi tiếng là nóng nảy. Không ít lần, cô thậm chí còn chửi thề với những tên bị cáo không biết xấu hổ. Mục đích lớn nhất của cô khi trở thành thẩm phán đó là chiến đấu chống lại thế lực lớn mạnh đã kết tội giết người cho anh trai cô rồi giết chết anh ta.</p>
                    </div>
                    <div class="block-film" id="tags">
                        <p class="heading">Tags</p>
                        <div class="tags-list">
                            <li class="tag"><h2><a href="/tag/buoc-duong-cung-2469.html">Bước Đường Cùng</a></h2></li><li class="tag"><h3><a href="/tag/nothing-to-lose-2017-12754.html">Nothing To Lose (2017)</a></h3></li>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="fb-comments" data-href="http://banhtv.com/xem-phim/buoc-duong-cung-nothing-to-lose-2017-6147.html" data-order-by="reverse_time" data-numposts="8" data-colorscheme="light" data-width="980"></div>
                </div>
                <div class="block film-related">
                    <div class="heading">
                        <p class="caption">Phim đề cử</p>
                    </div>
                    <ul class="list-film horizontal top-slide" id="list-film-realted">
                        <li class="item ">
                            <span class="label">HD VietSub</span>
                            <a title="Bước Đường Cùng" href="/phim/buoc-duong-cung-bedevilled-2010-2740.html">
                                <img alt="Bước Đường Cùng" src="http://banhtv.com/uploads/2016/11/400/buoc-201611876.jpg" />
                                <p>Bước Đường Cùng</p>
                                <i class="icon-play"></i>
                            </a>
                        </li>
                        <li class="item small">
                            <span class="label">HD Thuyết minh</span>
                            <a title="Bước Đường Cùng" href="/phim/buoc-duong-cung-homefront-2013-1185.html">
                                <img alt="Bước Đường Cùng" src="http://banhtv.com/uploads/2016/10/400/poster283-201610365.jpg" />
                                <p>Bước Đường Cùng</p>
                                <i class="icon-play"></i>
                            </a>
                        </li>
                        <li class="item small">
                            <span class="label">Tập 3 VietSub</span>
                            <a title="Nhật Ký Suy Luận" href="/phim/nhat-ky-suy-luan-inference-notes-2017-6247.html">
                                <img alt="Nhật Ký Suy Luận" src="http://banhtv.com/uploads/2017/12/400/pic-1-201712253.jpg" />
                                <p>Nhật Ký Suy Luận</p>
                                <i class="icon-play"></i>
                            </a>
                        </li>
                        <li class="item small">
                            <span class="label">Tập 6 VietSub</span>
                            <a title="Hoàng Quyền Phần 2" href="/phim/hoang-quyen-phan-2-the-crown-season-2-2017-6229.html">
                                <img alt="Hoàng Quyền Phần 2" src="http://banhtv.com/uploads/2017/12/400/the-crown-2-2017-201712573.jpg" />
                                <p>Hoàng Quyền Phần 2</p>
                                <i class="icon-play"></i>
                            </a>
                        </li>
                        <li class="item small">
                            <span class="label">Tập 2 VietSub</span>
                            <a title="Đêm Lặng Phần 1" href="/phim/dem-lang-phan-1-dark-season-1-2017-6224.html">
                                <img alt="Đêm Lặng Phần 1" src="http://banhtv.com/uploads/2017/12/400/dark-2017-201712786.jpg" />
                                <p>Đêm Lặng Phần 1</p>
                                <i class="icon-play"></i>
                            </a>
                        </li>
                        <li class="item small">
                            <span class="label">Tập 4 Thuyết Minh</span>
                            <a title="Vô Gian Đạo" href="/phim/vo-gian-dao-infernal-affairs-2016-6212.html">
                                <img alt="Vô Gian Đạo" src="http://banhtv.com/uploads/2017/12/400/2-201712559.jpg" />
                                <p>Vô Gian Đạo</p>
                                <i class="icon-play"></i>
                            </a>
                        </li>
                        <li class="item small">
                            <span class="label">HD VietSub</span>
                            <a title="Hậu Chiến" href="/phim/hau-chien-mudbound-2017-6227.html">
                                <img alt="Hậu Chiến" src="http://banhtv.com/uploads/2017/12/400/mudbound-2017-201712572.jpg" />
                                <p>Hậu Chiến</p>
                                <i class="icon-play"></i>
                            </a>
                        </li>
                        <li class="item small">
                            <span class="label">HD VietSub</span>
                            <a title="Ngôi Nhà Quái Dị" href="/phim/ngoi-nha-quai-di-crooked-house-2017-6226.html">
                                <img alt="Ngôi Nhà Quái Dị" src="http://banhtv.com/uploads/2017/12/400/crooked-house-2017-201712973.jpg" />
                                <p>Ngôi Nhà Quái Dị</p>
                                <i class="icon-play"></i>
                            </a>
                        </li>
                        <li class="item small">
                            <span class="label">Tập 3 VietSub</span>
                            <a title="Huyền Thoại Vikings Phần 5" href="/phim/huyen-thoai-vikings-phan-5-vikings-season-5-2017-6190.html">
                                <img alt="Huyền Thoại Vikings Phần 5" src="http://banhtv.com/uploads/2017/12/400/vikings-5-2017-201712625.jpg" />
                                <p>Huyền Thoại Vikings Phần 5</p>
                                <i class="icon-play"></i>
                            </a>
                        </li>
                        <li class="item small">
                            <span class="label">Tập 9 Vietsub</span>
                            <a title="Thám Tử Quý Tộc" href="/phim/tham-tu-quy-toc-kizoku-tantei-the-noble-detective-2017-5462.html">
                                <img alt="Thám Tử Quý Tộc" src="http://banhtv.com/uploads/2017/06/400/main-201706976.jpg" />
                                <p>Thám Tử Quý Tộc</p>
                                <i class="icon-play"></i>
                            </a>
                        </li>
                        <li class="item small">
                            <span class="label">Tập 20 Thuyết Minh</span>
                            <a title="Đội Chống Xã Hội Đen" href="/phim/doi-chong-xa-hoi-den-octb-2017-6106.html">
                                <img alt="Đội Chống Xã Hội Đen" src="http://banhtv.com/uploads/2017/11/400/doi-chong-xa-hoi-den-2017-201711174.jpg" />
                                <p>Đội Chống Xã Hội Đen</p>
                                <i class="icon-play"></i>
                            </a>
                        </li>
                        <li class="item small">
                            <span class="label">Tập 9 Vietsub</span>
                            <span class="label-quality">Phần 6</span>
                            <a title="Mũi Tên Xanh (Phần 6)" href="/phim/mui-ten-xanh-phan-6-arrow-season-6-2017-5936.html">
                                <img alt="Mũi Tên Xanh (Phần 6)" src="http://banhtv.com/uploads/2017/10/400/arrow-season-6-2017-201710434.jpeg" />
                                <p>Mũi Tên Xanh (Phần 6)</p>
                                <i class="icon-play"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/js/rating.js?v=1.3"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script>
$(function(){
    $("#list-film-realted").owlCarousel({
         items:5,
         itemsTablet: [700,3],
         itemsMobile : [479,2],
         scrollPerPage:true,
         navigation : true, // Show next and prev buttons
         slideSpeed : 800,
         paginationSpeed : 400,
         stopOnHover:true,
         pagination:false,
         autoPlay:8000,
         navigationText : ['<i class="fa fa fa-caret-left"></i>','<i class="fa fa fa-caret-right"></i>'],
    });
})
        </script>
    </div><!-- content -->
</div>
